[Unit]
Description=Service de surveillance SSH
After=tlp-init.service

[Service]
Type=simple
ExecStart=/home/mezeeh/surveillance-ssh.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
